.container {
  color: white;
  width: 100%;
  min-height: calc(100vh - 90px);
  position: relative;
  padding: 1rem;
  z-index: 50;
  overflow: hidden;
  /* background-image: url("../../../../public/images/bg-header.svg"); */
}

.container > h1 {
  width: 70%;
  font-weight: 300;
}

.name__company {
  font-size: 3rem;
  margin-top: 20px;
  display: block;
  font-weight: bold;
  font-family: var(--font__josefi-sans);
}

.img__header {
  width: 300px;
  height: 400px;
  position: absolute;
  bottom: -15vh;
  right: -10vw;
  z-index: -1;
}

.container .text_intro {
  color: var(--color-gray);
  font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1800 - 300)));
  max-width: 700px;
  width: 70%;
}

@media screen and (min-width: 768px) {
  .img__header {
    height: 500px;
    width: 500px;
    bottom: -10vh;
    right: -5vw;
  }
}
