.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 90px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  z-index: 60;
  background-color: var(--bg__bg-primary);
}

.logo_img {
  width: 140px;
  max-height: 80px;
  background-size: cover;
  object-fit: cover;
}

.icon {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.icon:hover {
  border-color: var(--color-gray);
  color: var(--color-gray);
}
.logo_img:hover {
  filter: grayscale(20%);
}

.container_user {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container_user h3 {
  /* font-size: calc(16px + (24 - 16) * ((900px - 300px) / (900 - 300))); */
  font-size: 20px;
}

.container_user button {
  background-color: var(--btn__color);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.text_user {
  text-decoration: none;
  text-align: center;
  color: white;
}
