.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 90px;
  padding: 0 10px;
  position: sticky;
  top: 0;
  z-index: 60;
  background-color: var(--bg__bg-primary);
}

.logo_img {
  width: 140px;
  max-height: 80px;
  background-size: cover;
  object-fit: cover;
}

.icon {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.icon:hover {
  border-color: var(--color-gray);
  color: var(--color-gray);
}
.logo_img:hover {
  filter: grayscale(20%);
}
