.toolsMenu {
  background-color: var(--btn__color);
  font-family: var(--font__josefi-sans);
}

.link {
  color: var(--color__blue);
  text-decoration: none;
  display: inline-block;
  padding: 0.7rem;
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: bold;
}

.link:hover {
  color: var(--color-gray);
}

@media screen and (max-width: 768px) {
  .link {
    font-size: 1rem;
  }
}
